.about-us {
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
    width: 80vw;
    text-align: justify;
    display: flex;
    padding: 5rem;
    border-radius: 1.5rem;
}


.about-us p {
    margin: auto;
    width: 50%;
    font-size: 1.2rem;
}

.about-us img {
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 50%;
    max-width: 800px;
}


@media (max-width: 600px) {
    .about-us {
        padding: 1.5rem;
        width: 95vw;
        flex-direction: column;
        align-items: center;
    }

    .about-us p {
        width: 100%;
        margin: 0.75rem 0;
        font-size: 1rem;
    }

    .about-us img {
        width: 100%;
        max-width: none;
        margin-top: 1rem;
    }
}

#about-us-content-1 {
    background-color: rgb(252, 175, 175);
}

#about-us-content-1 p {
    margin-left: 5rem;
}

#about-us-content-2 {
    background-color: rgb(255, 255, 237);
}

#about-us-content-2 p {
    margin-right: 5rem;
}

#about-us-content-3 {
    background-color: rgb(252, 175, 175);
}

#about-us-content-3 p {
    margin-left: 5rem;
}


:root {
    --aboutus-font-base: 1.2rem;
    --aboutus-line: 1.6;
    --aboutus-padding-desktop: 5rem;
    --aboutus-padding-mobile: 1.5rem;
}

/* Tablet / large mobile fallback */
@media (max-width: 768px) {
    .about-us {
        width: 92vw;
        padding: 2.5rem;
    }
    .about-us p {
        font-size: 1.1rem;
    }
}


@media (max-width: 600px) {
    .about-us {
        padding: var(--aboutus-padding-mobile);
        width: 95vw;
        flex-direction: column;
        align-items: center;
    }
    .about-us p {
        width: 100%;
        margin: 0.75rem 0;
        font-size: 1rem;
        line-height: var(--aboutus-line);
    }
    .about-us img {
        width: 100%;
        max-width: none;
        margin-top: 1rem;
    }
}


@media (max-width: 480px) {
    .about-us {
        padding: 1rem;
        border-radius: 1rem;
    }
    .about-us p {
        font-size: 0.98rem;
        margin: 0.6rem 0;
    }
}


@media (max-width: 420px) {
    .about-us p {
        font-size: 0.92rem;
    }
    .about-us img {
        height: auto;
    }
}


@media (max-width: 360px) {
    .about-us p {
        font-size: 0.88rem;
    }
    .about-us {
        padding: 0.6rem;
    }
}


@media (orientation: landscape) and (max-width: 600px) {
    .about-us {
        flex-direction: row;
        align-items: flex-start;
    }
    .about-us p {
        width: 60%;
    }
    .about-us img {
        width: 40%;
        margin-top: 0;
    }
}


.about-us--compact {
    padding: 1rem !important;
    border-radius: 0.8rem !important;
}
.about-us--compact p {
    font-size: 0.95rem !important;
}

.about-us--large-text p {
    font-size: 1.25rem !important;
    line-height: 1.8 !important;
}


.about-us--no-offset p {
    margin-left: 0 !important;
    margin-right: 0 !important;
}