#infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#home-header{
    text-align: center;
    margin-bottom: 1rem;
    width: 80vw;
}

#home-header h1{
    font-size: 5rem;
    margin: 0;
}

#home-header p{
    margin: 0;
    font-size: 1.5rem;
}

.home-section{
    margin: 20px;
    font-size: 18px;
    line-height: 1.6;
    width: 45vw;
    height: 75vh;
    text-align: justify;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    border: 1px solid black;
    background-color: white;
    align-content: center;
    padding: 1rem;
}

#home-maps{
    width: 90%;
    height: 400px;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

.home-section img {
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 90%;
    height: 400px;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

.home-section-title{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 2rem;
}

.home-section-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section-description p{
    margin: 0px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}