.menu{
    display: flex; 
    width: 100%;
    background-color: red;
}

ul{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
}

li{
    width: 33%;
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

